/* rings ======================================================================== */

#largeOuterCircle {
    animation:rotate infinite 7.3s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate {
    0%{transform:rotate(360deg)}
}
#largeOuterCircle2 {
    animation:rotate2 infinite 6s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate2 {
    0%{transform:rotate(-360deg)}
}
#largeOuterCircle3 {
    animation:rotate3 infinite 4s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate3 {
    0%{transform:rotate(360deg)}
}
#largeOuterCircle4 {
    animation:rotate4 infinite 4.4s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate4 {
    0%{transform:rotate(-360deg)}
}
#largeOuterCircle5 {
    animation:rotate5 infinite 5.5s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate5 {
    0%{transform:rotate(360deg)}
}
#largeOuterCircle6 {
    animation:rotate6 infinite 3.2s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate6 {
    0%{transform:rotate(-360deg)}
}
#largeOuterCircle65 {
    animation:rotate65 infinite 7s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate65 {
    0%{transform:rotate( 360deg)}
}
#largeOuterCircle7 {
    animation:rotate7 infinite 7s linear;
    transform-origin: 50% 50%;
}
@keyframes rotate7 {
    0%{transform:rotate( -360deg)}
}

/* welcome button =================================================== */
.takeMeTo{
background: #234;
border:none;
float:right;
background: transparent;
font-size:4vw;
font-family:Arial, Helvetica, sans-serif;
color:black;
}
.w{
float:left;
color:rgb(67, 92, 133);
}
.e1{
float:left;
color:rgb(90, 122, 172);
}
.l{
float:left;
color:rgb(123, 163, 226);
}
.c{
float:left;
color:rgb(165, 170, 238);
}
.o{
float:left;
color:rgb(146, 152, 235);
}
.m{
float: left;
color:rgb(111, 118, 209);
}
.e2{
float:left;
color:rgb(135, 142, 240);
}
.containThatWelcome{
display:flex;
justify-content: center;
margin-top:-52vw;
}